.header {
	width: 100%;
	height: 100vh;
	background-image: url("./../assets/images/kofar-soro.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
    
}

.circle {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	background-color: #044f04;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -16rem;
	right: 10%;
}

.circle > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: #fff;
}
.k-soro{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}

.join-us{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.get-started{
    text-align: center;
    font-weight: 700;
    color: #fff;
    background-color: #F68712;
    border-radius: .2rem;
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
}